@mixin handleButton($color){
    background-color: $color;
    color: white;
    &:hover, &:focus{
        background-color: darken($color, 10%);
        box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    }
    &:active{
        background-color: darken($color, 20%);
        box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    }
}
@mixin handleButtonBlack($color){
    background-color: $color;
    color: white;
    &:hover, &:focus{
        background-color: lighten($color, 5%);
        box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    }
    &:active{
        background-color: lighten($color, 10%);
        box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    }
}